@import '../../variables.scss';

.app-input-wrapper {
    height: 70px;
    width: 100%;
    margin-right: 15px;
    box-sizing: border-box;

    &> .app-input {
        background-color: #fff;
        border: 1px solid rgba(175,185,197,.36);
        border-radius: 4px;
        color: #161c34;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 0;
        width: 100%;
        border-radius: 20px;
        box-sizing: inherit;
        padding: 20px;
        &:focus {
            outline: none;
        }
    }
}

@media only screen and (max-width: $phone-width) {
    .app-input-wrapper {
        width: 80%;
        &> .app-input {
            font-size: 17px;
        }
    }
}