@import '../../variables.scss';

.app-footer-wrapper {
    text-align: center;
    padding: 10px;
    // background-color: $base-color-header;
    position: sticky;
    bottom: 0;
    align-items: center;
    justify-content: center;
    color: #dfd6d6;
}