@import 'styles/global.scss';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // font-family: 'Kanit';
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Kanit';
}

html,
body, #root {
  margin: 0px;
  height: 100%;
}
