@import '../../variables.scss';

.app-header-wrapper {
    height: 40px;
    // background-color: $base-color-header;
    padding: 40px 20px;
    border-radius:  0 0 10px 10px;
}

.app-header-title {
    font-size: 60px;
    font-weight: bold;
    color: #925151;
}