@import '../../variables.scss';

.app-header-wrapper {
    height: 30px;
    background-color: $base-color-header;
    padding: 40px 20px;
    border-radius:  0 0 20px 20px;
}

.app-header-title {
    font-family: Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
}